.welcome {
  background-color: var(--main-board-color);
}

.welcome-message {
  display: flex;
  padding: 5vh;
  gap: 2vw;
}

.welcome-message h2 {
  text-align: left;
  color: var(--highlight-color-2);
}

.welcome-message p {
  text-align: justify;
  color: var(--regular-color);
}

.welcome-buttons-div {
  padding: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3vw;
}

.login-button,
.signup-button {
  padding: 2vh;
  font-size: large;
  min-width: 10vw;
  cursor: pointer;
}

@media (max-width: 560px) {
  .welcome-message {
    display: grid;
  }

  .welcome-buttons-div {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: inherit;
    gap: 3vh;
  }

  .login-button,
  .signup-button {
    width: 100%;
    padding: 3vh;
    font-size: large;
  }
}
