.dashboard {
  background-color: var(--main-board-color);
}

.dashboard-message {
  display: flex;
  padding: 5vh;
  color: var(--highlight-color-2);
}

.dashboard-message h2 {
  text-align: left;
  color: var(--highlight-color-2);
}

.dashboard-message p {
  text-align: justify;
  color: var(--regular-color);
}

/* .create-username-div,
.create-password-div {
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 3vh;
} */

/* .username-input-box,
.password-input-box {
  width: 65%;
} */

.dashboard-buttons {
  padding: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.button {
  font-size: large;
  padding: 2vh;
  min-width: 10vw;
  cursor: pointer;
}

@media (max-width: 560px) {
  .dashboard-message {
    display: grid;
  }

  .dashboard-buttons {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: inherit;
    gap: 3vh;
  }

  .button {
    width: 100%;
    padding: 3vh;
  }
}
