.dashboard {
  background-color: var(--main-board-color);
}

.dashboard-message {
  display: flex;
  padding: 5vh;
  color: var(--highlight-color-2);
}

.dashboard-message h2 {
  text-align: left;
  color: var(--highlight-color-2);
}

.dashboard-message p {
  text-align: justify;
  color: var(--regular-color);
}

.todo-list-container {
  background-color: var(--regular-color);
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
}

.todo-list-board {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.add-todo-list-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.add-todo-list-input-box {
  width: 80%;
  margin-right: 1.5vh;
  margin-left: 1.5vh;
}

.dashboard-buttons-div {
  padding: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3vw;
}

.button {
  font-size: large;
  padding: 2vh;
  min-width: 10vw;
  cursor: pointer;
}

.button-small {
  font-size: medium;
  padding: 1vh;
  min-width: 10vw;
  cursor: pointer;
}

@media (max-width: 560px) {
  .dashboard-message {
    display: grid;
  }

  .dashboard-buttons-div {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: inherit;
    gap: 3vh;
  }

  .button {
    width: 100%;
    padding: 3vh;
  }

  .button-small {
    padding: 0.5vh;
  }
}
