.login {
  background-color: var(--main-board-color);
}

.login-message {
  display: flex;
  padding: 5vh;
  color: var(--highlight-color-2);
}

.login-username-div,
.login-password-div {
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 3vh;
}

.login-username-input-box,
.login-password-input-box {
  width: 65%;
}

.login-button-div {
  padding: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.login-button-2 {
  font-size: large;
  padding: 2vh;
  min-width: 10vw;
  cursor: pointer;
}

@media (max-width: 560px) {
  .login-message {
    justify-content: center;
  }

  .login-button-div {
    padding: 0;
    margin-top: 3vh;
  }

  .login-button-2 {
    width: 100%;
    padding: 3vh;
  }
}
