/* * {
  border: 1px solid black;
} */

[theme='light'] {
  --background-color: #a4a3a3;
  --main-board-color: #255d5c;
  --regular-color: #a9bc74;
  --highlight-color: #8e111e;
  --highlight-color-2: #fcf9f1;
}
/* [theme='dark'] {
} */

/* .App {
  text-align: center;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App {
  min-width: 360px;
  width: 80vw;
  /* min-height: 600px; */
  /* min-height: 100vh; */
  height: 90vh;
  margin-top: 2vh;
  margin-bottom: 5vh;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 1.5fr 7fr 1.5fr;
}

input {
  border: none;
  border-radius: 1rem;
  padding-left: 2%;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 5vw;
}

.header-title a {
  width: 8%;
  margin: 1%;
  order: 1;
}

.header-app-logo {
  width: 100%;
  height: 100%;
  /* margin: 1%; */
  /* order: 1; */
}

.header-title-text-mern {
  color: var(--highlight-color);
  margin: 0.5%;
  order: 2;
}

.header-title-text-tdl {
  color: var(--highlight-color);
  margin: 0.5%;
  order: 3;
}

.main {
  padding: 3vh 5vw;
}

.portfolio-link {
  color: var(--highlight-color);
  text-decoration: none;
  font-weight: bolder;
  margin: 1%;
  cursor: pointer;
}

.portfolio-link:hover {
  color: var(--main-board-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--highlight-color-2); */
}

.footer-text {
  width: 100%;
  padding-right: 5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  font-size: large;
  padding: 2vh;
  min-width: 10vw;
  cursor: pointer;
  border-radius: 2rem;
}

.button-small {
  font-size: medium;
  padding: 1vh;
  min-width: 10vw;
  cursor: pointer;
  border-radius: 2rem;
}

@media (max-width: 560px) {
  .header-title {
    justify-content: center;
    padding-left: 0;
  }

  .header-title a {
    order: 2;
  }

  /* .header-app-logo {
    order: 2;
  } */

  .header-title-text-mern {
    order: 1;
  }

  .header-title-text-tdl {
    order: 3;
  }

  .main {
    padding-right: 0;
    padding-left: 0;
  }

  .footer-text {
    justify-content: center;
    padding-right: 0;
  }

  .button {
    width: 100%;
    padding: 3vh;
  }

  .button-small {
    padding: 0.5vh;
    font-size: small;
  }
}
